.wrapper {
  width: 1180px;
  height: 100dvh;
  max-height: 820px;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  max-height: 100%;
  width: 320px;
  border-left: 1px solid #d9d9d9;
}

.user,
.userTitle {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 24px 20px;
  font-size: 18px;
  border-bottom: 1px solid #d9d9d9;
}

.userTitle {
  font-weight: 500;
}

.number {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #062760;
  position: relative;
  width: 45px;
}

.number::after {
  content: "";
  position: absolute;
  left: -15px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: 42px;
  width: 2px;
  background-color: #d9d9d9;
}

.main {
  width: 560px;
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
  gap: 20px;
}

.prizesBlock {
  width: 250px;
  height: 100%;
  margin-right: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.button {
  background: #062760;
  border-radius: 12px;
  width: 330px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 22px;
}

.prize {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.winner {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.05em;
  min-height: 34px;
}

.prizeInfo {
  width: 100%;
  height: 109px;
  border-radius: 12px;
  padding: 12px 15px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
  background: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prizeInfoActive {
  box-shadow: inset 0 2px 6px 0 rgba(0, 0, 0, 0.4);
}

.prizeTitle {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #062760;
  width: 150px;
  position: relative;
  padding-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prizeTitle::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  height: 99px;
  width: 2px;
  background-color: #d9d9d9;
}

.modalWrapper {
  width: 100%;
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(4px);
  background: rgba(32, 32, 32, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -10;
  transition: all 0.3s linear;
  opacity: 0;
}

.visibleModal {
  z-index: 100;
  opacity: 1;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalInfo {
  border-radius: 12px;
  width: 492px;
  height: 283px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px 20px 30px;
}

.modalTitle {
  font-size: 26px;
  letter-spacing: 0.05em;
}

.modalName {
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.05em;
}

.buttonsWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalButton {
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  font-size: 21px;
}

.loaderWrapper {
  margin: auto;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  animation: pulse 1s linear infinite;
}
.loader:after {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid #062760;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  60%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes pulse {
  0%,
  60%,
  100% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
}
