* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  max-height: 100dvh;
}

button {
  font-family: "Montserrat", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #062760;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dfdfdf;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(77, 77, 77);
}
